.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    animation: GradientCycle 5s infinite linear;
    transition: transform 0.3s;    text-align: center;
    bottom: 0;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.subtitle {
  font-size: 1.5rem;
  color: #d0d0d0;
  margin-bottom: 1rem;
}
.hero-content {
  max-width: 700px;
}

.hero-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-image {
    width: 120px;
    margin-bottom: 1rem;
  }

  .hero h1 {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}

